In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [23]:
df=pd.read_csv('.\\KnowledgeBase\\emergency\\csv\\emergency.csv')

In [24]:
posts=df['object_id'].to_list()

In [25]:
df

     object_id  term_taxonomy_id  term_order
0          959                 3           0
1         1210                 3           0
2         1380                 3           0
3         2619                 3           0
4         2657                 3           0
..         ...               ...         ...
208      94160                 3           0
209      94211                 3           0
210      94223                 3           0
211      94230                 3           0
212     103364                 3           0

[213 rows x 3 columns]

In [26]:
folder='.\\KnowledgeBase\\emergency\\'

In [27]:
for post in posts:
    URL='https://www.forwardpathway.com/'+str(post)
    page=requests.get(URL)
    soup=BeautifulSoup(page.content,"html.parser")
    post_content=soup.find("div",{"class":"entry-content"})
    if post_content is not None:
        elements=post_content.findAll(
            True,
            {
                "class":[
                    
                    "crp_related",
                    "topBanner",
                    "bottomBanner",
                    "wp-block-advgb-summary",
                    "yoast-table-of-contents",
                    "exclusiveStatement",
                    "companyLocation",
                    "CommentsAndShare",
                    'AI_Summary',
                    'AI_QA',
                    'btn-group'
                ]
            }
        )
        for element in elements:
            element.decompose()
        elements=post_content.findAll(['svg','figure'])
        for element in elements:
            element.decompose()
    if post_content:
        filename=str(post)+'.txt'
        f=open(folder+filename,'w',encoding='utf-8')
        f.write(post_content.get_text())
        f.close()